<!DOCTYPE html>
<html lang="zh-CN">
{% include "partials/head.html" %}
<body>
<div class="container">
  {% include "partials/header.html" %}
  <div class="two-columns">
    {% include "partials/moyu.html" %}
    {% if sideModule == 'bilibili' %}
      {% include "partials/bilibili.html" %}
    {% else %}
      {% include "partials/zhihu.html" %}
    {% endif %}
  </div>
  <div class="single-column">
    {% if isBangumi %}
      {% include "partials/bangumi.html" %}
    {% elif isToutiao %}
      {% include "partials/toutiao.html" %}
    {% else %}
      {% include "partials/douyin.html" %}
    {% endif %}
    {% include "partials/news.html" %}
  </div>
  {% include "partials/footer.html" %}
</div>
</body>
</html>